
body{
    margin: 0%;
    padding: 0%;
}

.navlist{
    height: 80px !important;
    width: 100%;
    background-color: transparent;

    
}
.navlist ul {
    float: right;
    margin-right: 30px;

}

.navlist ul li {
    list-style: none;
    margin: 0 10px;
    display: inline-block;
    line-height: 80px;

}

.navlist ul li a {
    text-decoration: none;

    font-size: 30px;
    padding: 6px 13px;
}

.navlist ul li a.active,
.navlist ul li a:hover{
color: #336600;
text-transform: 0.5s;
text-decoration-line: underline;

}
.textone{
    text-align: center;
    font-size: 30px; 
    padding-top: 10%;
    color: #336600 ;
}
.textone,h1{
    font-size: 250%;
    
}
.btn{
    float: right;
    font-size: 50px;
}